@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=A02743BB-0B14-4D8D-B0F2-0FC5BA43BB9E

npmScopes:
fortawesome:
  npmAlwaysAuth: true
  npmRegistryServer: "https://npm.fontawesome.com/"
  npmAuthToken: A02743BB-0B14-4D8D-B0F2-0FC5BA43BB9E
